:root {
	--accent: #fff;
    --background: #fff;
}

.root {
    display: flex;
    flex-direction: column;
    
    height: 440px;
    max-width: 330px;

    padding: 20px;

    background-color: var(--background);

    border: 1px solid #D9D9D9;
    border-radius: 20px; 
}

.header {
    display: flex;
    justify-content: space-between;
}

.nameWrapper {
    display: flex;
    align-items: center;

    margin-right: 12px;
}

.name {
    display: inline-block;
    margin-right: 8px;

    font-weight: 700;
    font-size: 20px;
}

.badge {
    padding: 4px 8px;

    border: 1px solid #000;
    border-radius: 20px;

    background-color: #fff;

    font-size: 12px;
    font-weight: 700;
}

.hp {
    background-color: #fff;

    font-size: 12px;
    font-weight: 700;

    white-space: nowrap;

    composes: badge;
}

.favoriteInput {
    display: none;
}

.favoriteCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: #fff;

    border-radius: 50%;
}

.star {
    filter: grayscale(1);
}

.favoriteInput:checked + .favoriteCheckbox .star {
    filter: grayscale(0);
}

.content {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.image {
    height: 140px;

    align-self: center;
}

.types {
    margin-top: 16px;
}

.abilities {
    margin-top: 16px;

    overflow: hidden;
}

.ability:not(:first-child) {
    margin-top: 8px;
}

.abilityTitle {
    font-size: 12px;
    font-weight: 700;
}

.abilityDescription {
    margin-top: 4px;

    font-size: 10px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.strokedText {
    color: white;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.type {
    background-color: var(--accent);

    composes: badge strokedText;
}

.type:not(:last-child) {
    margin-right: 4px;
}

.grass {
	--accent: #63BC5A;
    --background: #e4ffe1;
}

.poison {
	--accent: #B567CE;
    --background: #e9d8ff;
}

.ground {
	--accent: #D97845;
    --background: #ffe6d8;
}

.electric {
	--accent: #F4D23C;
    --background: #fff5c6;
}

.fire {
	--accent: #FF9D55;
    --background: #fad5ba;
}

.water {
	--accent: #5090D6;
    --background: #adc9e8;
}

.dragon {
	--accent: #0B6DC3;
    --background: #b8deff;
}

.normal {
	--accent: #919AA2;
    --background: #e7e7e7;
}

.fighting {
	--accent: #CE416B;
    --background: #f5c1d0;
}

.flying {
	--accent: #89AAE3;
    --background: #dae4f3;
}

.rock {
	--accent: #C5B78C;
    --background: #f7f1df;
}

.bug {
	--accent: #91C12F;
    --background: #ddf5ae;
}

.ghost {
	--accent: #333333;
    --background: #d2d2d2;
}

.steel {
	--accent: #5A8EA2;
    --background: #bce3f3;
}

.psychic {
	--accent: #FA7179;
    --background: #ffdddf;
}

.ice {
	--accent: #73CEC0;
    --background: #e2fefa;
}

.dark {
	--accent: #5A5465;
    --background: #9e96ae;
}

.fairy {
	--accent: #EC8FE6;
    --background: #ffdffa;
}

.shadow {
	--accent: #5269AD;
    --background: #a3b3e3;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;
}

.number {
    color: #787878;
}

.number::before {
    content: '№ ';
    color: #787878;
}

.stats {
    font-size: 20px;
    composes: strokedText;
}